<mat-card class="about">
    <mat-card-content>
        <mat-card-title class="card-title">Hello, this is MakeEvents!</mat-card-title>
        <div class="card-content">
            I made this app just for fun. It is using Angular 6 and a NodeJS, TypeScript backend with Google Calendar integration. I
            hope you will enjoy using it. You can check out my social down below and send me a mail if you wish as well.
            <div class="signature">Alex</div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="social">
            <a href="https://www.linkedin.com/in/alex-olar/" mat-icon-button mat-raised-button>
                <img src="../../../assets/icons/linkdin.png" alt="LinkdIn">
            </a>
            <a href="https://github.com/qbeer" mat-icon-button mat-raised-button>
                <img src="../../../assets/icons/github.png" alt="GitHub">
            </a>
            <a href="mailto:olaralex666@gmail.com" mat-icon-button mat-raised-button>
                <img src="../../../assets/icons/mail.png" alt="Gmail">
            </a>
            <a href="https://twitter.com/dumbo1123581321" mat-icon-button mat-raised-button>
                <img src="../../../assets/icons/twitter.png" alt="Twitter">
            </a>
            <a href="https://www.youtube.com/user/Qbeer666" mat-icon-button mat-raised-button>
                <img src="../../../assets/icons/youtube.png" alt="YouTube">
            </a>
        </div>
    </mat-card-actions>
</mat-card>