<mat-card class="about">
    <mat-card-content>
        <mat-card-title class="card-title">Hello, this is MakeEvents!</mat-card-title>
        <div class="card-content">
            I made this app just for fun. It is using Angular 6 and a NodeJS, TypeScript backend with Google Calendar integration. I
            hope you will enjoy using it. You can check out my social down below and send me a mail if you wish as well.
            <div class="signature">Alex</div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="social">
            <button mat-icon-button>
                <img src="../../../assets/icons/linkdin.png" alt="LinkdIn">
            </button>
            <button mat-icon-button>
                <img src="../../../assets/icons/github.png" alt="GitHub">
            </button>
            <button mat-icon-button>
                <img src="../../../assets/icons/mail.png" alt="Gmail">
            </button>
            <button mat-icon-button>
                <img src="../../../assets/icons/twitter.png" alt="Twitter">
            </button>
            <button mat-icon-button>
                <img src="../../../assets/icons/youtube.png" alt="YouTube">
            </button>
        </div>
    </mat-card-actions>
</mat-card>