<mat-toolbar class="toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/event" mat-menu-item>
      <mat-icon>event</mat-icon>
      <span>Create event</span>
    </button>
    <button routerLink="/calendar" mat-menu-item >
      <mat-icon>event_note</mat-icon>
      <span>Calendar</span>
    </button>
    <button routerLink="/about" mat-menu-item>
      <mat-icon>help</mat-icon>
      <span>About</span>
    </button>
  </mat-menu>
  <span class="example-spacer"></span>
  <span>Make Events App</span>
</mat-toolbar>