@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-orange, 200);
$accent: mat-palette($mat-yellow, 200);

@media only screen and(min-width: 600px) {
    body {
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
}

body {
    background-color: rgba(245, 229, 13, 0.432);
    font-size: 13px;
}

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);