@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-orange, 200);
$accent: mat-palette($mat-yellow, 200);

@media only screen and(min-width: 600px) {
    body {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
}

body {
    background-color: rgba(245, 229, 13, 0.432);
}

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);